<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>TV SERIES DATA</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
  
   
    <h1>Detected imdb link:{{imdburl}}</h1>
    <h2>Number of seasons = {{k}}</h2>   
        
    {% set count = [1] %}
    
    {% for result in views %}
          {% set i = [1] %}
                  <h3>Season {{count[0]}}</h3>
                      
                          {% for elem in result %}
            
                              <td>Episode {{i[0]}}&emsp;&emsp;{{elem}} </td> </br>
         {% if i.append(i.pop() + 1) %}{% endif %}
                           {% endfor %}
                            <h4>Average rating&ensp;{{data[count[0]-1]}}</h4>
                          
                          {% if count.append(count.pop() + 1) %}{% endif %}
                                       
    {% endfor %}
    {%if c=="y"%}
    <div style="text-align:center">
<h4>Bar Chart</h4>
</div>
     
     <img src={{image_file}} style="margin: 0 auto; display: block;">
     {%endif%}
     {%if d=="y"%}
         <div style="text-align:center">
  <h4>Average Plot</h4>
</div>
   
      <img src={{img_file}} style="margin: 0 auto; display: block;">
      {%endif%}
    
    
   
    
      
    
         
    
    </body>
    </html>